* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "roboto", Arial;
  border-top: 30px solid #303f9f;
}

.wrap {
  width: 90%;
  max-width: 500px;
  padding: 40px;
  margin: auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px grey;
          box-shadow: 0 0 3px grey;
}

.form-container {
  width: 100%;
  color: #f2f2f2;
  padding: 50px;
}

.form-container .input-box {
  width: 100%;
  margin: auto;
}

.form-container .input-box .input-items {
  position: relative;
  margin-bottom: 32px;
}

.form-container .input-box .input-items input[type="text"],
.form-container .input-box .input-items input[type="email"],
.form-container .input-box .input-items input[type="password"] {
  font-family: "roboto", Arial;
  font-size: 16px;
  color: #303f9f;
  width: 100%;
  outline: none;
  padding: 15px;
  background: none;
  border: none;
  border-bottom: 2px solid #bbdefb;
}

.form-container .input-box .input-items input[type="text"]:focus, .form-container .input-box .input-items input[type="text"]:active,
.form-container .input-box .input-items input[type="email"]:focus,
.form-container .input-box .input-items input[type="email"]:active,
.form-container .input-box .input-items input[type="password"]:focus,
.form-container .input-box .input-items input[type="password"]:active {
  outline: none;
  border-bottom: 2px solid #303f9f;
}

.form-container .input-box .input-items input[type="text"].error,
.form-container .input-box .input-items input[type="email"].error,
.form-container .input-box .input-items input[type="password"].error {
  border-bottom: 2px solid #d32f2f;
}

.form-container .input-box .input-items input[type="text"].error + label,
.form-container .input-box .input-items input[type="email"].error + label,
.form-container .input-box .input-items input[type="password"].error + label {
  color: #d32f2f;
}

.form-container .input-box .input-items label {
  color: #303f9f;
}

.form-container .input-box .input-items label.label {
  position: absolute;
  top: 16px;
  left: 0;
  font-size: 16px;
  line-height: 16px;
  margin-left: 16px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.form-container .input-box .input-items label.label.active {
  top: -12px;
  font-size: 12px;
  line-height: 12px;
  color: #b6b6b6;
}

.form-container .input-box .input-items.checkbox label,
.form-container .input-box .input-items.radio label {
  display: inline-block;
  cursor: pointer;
  color: #303f9f;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-container .input-box .input-items.checkbox label:hover,
.form-container .input-box .input-items.radio label:hover {
  background-color: #bbdefb;
}

.form-container .input-box .input-items.checkbox label:before,
.form-container .input-box .input-items.radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid #303f9f;
}

.form-container .input-box .input-items.error label {
  color: #d32f2f;
}

.form-container .input-box .input-items.error label:hover {
  background-color: rgba(211, 47, 47, 0.2);
}

.form-container .input-box .input-items.error label::before {
  border: 2px solid #d32f2f;
}

.form-container .input-box .input-items.radio input[type="radio"] {
  display: none;
}

.form-container .input-box .input-items.radio input[type="radio"]:checked + label:before {
  display: none;
}

.form-container .input-box .input-items.radio input[type="radio"]:checked + label {
  padding: 5px 15px;
  background-color: #303f9f;
  border-radius: 2px;
  color: #f2f2f2;
}

.form-container .input-box .input-items.checkbox label:before {
  border-radius: 3px;
}

.form-container .input-box .input-items.checkbox input[type="checkbox"] {
  display: none;
}

.form-container .input-box .input-items.checkbox input[type="checkbox"]:checked + label:before {
  display: none;
}

.form-container .input-box .input-items.checkbox input[type="checkbox"]:checked + label {
  padding: 5px 15px;
  background-color: #303f9f;
  color: #f2f2f2;
}

.form-container .input-box input[type="submit"] {
  background-color: #303f9f;
  border-radius: 1px;
  border: 2px solid #f2f2f2;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  width: 100%;
  font-family: "roboto", Arial;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.form-container .input-box input[type="submit"]:hover {
  background-color: #1976d2;
}
/*# sourceMappingURL=styles.css.map */ #fff;
  opacity: 0.5;
  cursor: pointer;
  font-size: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.activities-wrapper .activities-caruosel #prevBtn:hover {
  opacity: 0.8;
}

.activities-wrapper .activities-caruosel #nextBtn {
  position: absolute;
  top: 50%;
  right: 3%;
  z-index: 10;
  color: #fff;
  opacity: 0.5;
  cursor: pointer;
  font-size: 30px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.activities-wrapper .activities-caruosel #nextBtn:hover {
  opacity: 0.8;
}

.activities-wrapper .activities-caruosel .activities-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.activities-wrapper .activities-caruosel .activities-slide img {
  width: 100%;
  height: 600px;
}

/* Reserva */
.reserve-wrapper {
  width: 100%;
  background-image: url(https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-attachment: fixed;
}

.reserve-wrapper .reserve-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(56, 56, 56, 0.7);
}

.reserve-wrapper .reserve-box h2 {
  color: #fff;
  margin: 30px 0 0 0;
}

.reserve-wrapper .reserve-box .input-box {
  padding: 80px;
}

.reserve-wrapper .reserve-box .input-box .input-items {
  margin-bottom: 20px;
}

.reserve-wrapper .reserve-box .input-box .input-items label {
  font-family: "Baloo Bhaina 2", cursive;
  color: #fff;
  width: 100%;
}

.reserve-wrapper .reserve-box .input-box .input-items input,
.reserve-wrapper .reserve-box .input-box .input-items select {
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 14px;
  outline: none;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid #0DA1FF;
  color: #fff;
}

.reserve-wrapper .reserve-box .input-box input[type="submit"] {
  width: 60%;
  background-color: #0DA1FF;
  border: 1px solid #0DA1FF;
  border-radius: 20px;
  font-family: "Baloo Bhaina 2", cursive;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.reserve-wrapper .reserve-box .input-box input[type="submit"]:hover {
  background-color: #01FF7D;
  border: 1px solid #01FF7D;
}

/* Contacto */
.contact-box {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.contact-box .map-box {
  width: 65%;
  height: 100%;
}

.contact-box .map-box iframe {
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

.contact-box .contact-items {
  margin: 0 auto;
  width: 35%;
  padding: 10px;
}

.contact-box .contact-items h2 {
  color: #0DA1FF;
}

.contact-box .contact-items .address {
  color: #383838;
  font-family: "Baloo Bhaina 2", cursive;
}

.contact-box .contact-items form .contact-input {
  margin-bottom: 10px;
}

.contact-box .contact-items form .contact-input label {
  font-family: "Baloo Bhaina 2", cursive;
  color: #383838;
  width: 100%;
}

.contact-box .contact-items form .contact-input input {
  font-family: "Baloo Bhaina 2", cursive;
  outline: none;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 3px solid #0DA1FF;
  color: #383838;
}

.contact-box .contact-items form textarea {
  resize: none;
  outline: none;
  width: 100%;
  border: none;
  border-bottom: 3px solid #0DA1FF;
  color: #383838;
}

.contact-box .contact-items form input[type="submit"] {
  width: 60%;
  background-color: #0DA1FF;
  border: 1px solid #0DA1FF;
  border-radius: 20px;
  font-family: "Baloo Bhaina 2", cursive;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.contact-box .contact-items form input[type="submit"]:hover {
  background-color: #01FF7D;
  border: 1px solid #01FF7D;
}

/* Footer */
.footer {
  width: 100%;
  background-color: #0DA1FF;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.footer .mini-logo {
  border-bottom: 3px solid #fff;
  position: absolute;
  left: 5%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer .mini-logo a {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  text-decoration: none;
  color: #fff;
}

.footer h4 {
  color: #fff;
  font-family: "Baloo Bhaina 2", cursive;
  padding: 30px;
}

.header {
  width: 100%;
  height: 120vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2))), url(https://images.pexels.com/photos/1430677/pexels-photo-1430677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(https://images.pexels.com/photos/1430677/pexels-photo-1430677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-attachment: fixed;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.header .menu .logo {
  padding: 20px;
}

.header .menu .logo a {
  text-decoration: none;
  color: #fff;
  text-align: center;
}

.header .menu .logo a h3 {
  font-family: "Pacifico", cursive;
  font-size: 30px;
  letter-spacing: 2.5px;
}

.header .menu .logo a p {
  font-family: "Baloo Bhaina 2", cursive;
  letter-spacing: 5px;
}

.header .menu .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.header .menu .nav-bar .menu-link {
  margin: 0 10px;
  padding: 0 20px;
  line-height: 1.6;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .menu .nav-bar .menu-link:hover {
  border: 3px solid rgba(255, 255, 255, 0.9);
}

.header .menu .nav-bar .menu-link a {
  text-decoration: none;
  color: #fff;
  font-family: "Baloo Bhaina 2", cursive;
}

.header .menu .social {
  margin-right: 40px;
}

.header .menu .social a {
  text-decoration: none;
  color: #fff;
  padding: 0 10px;
  font-size: 25px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header .menu .social a:hover {
  color: #00FFD9;
}

.header .title {
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  font-family: "Baloo Bhaina 2", cursive;
  color: #fff;
}

.header .title i {
  font-size: 50px;
  margin-bottom: 30px;
  padding: 20px;
  color: #0BFF48;
}

.header .title h1 {
  font-size: 40px;
}

.header .reserve-btn {
  margin: 30px auto;
  padding: 0 20px;
  line-height: 1.6;
  border: 3px solid #fff;
  border-radius: 25px;
  width: 150px;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.header .reserve-btn:hover {
  background-color: #01FF7D;
  border: 3px solid #01FF7D;
}

.header .reserve-btn a {
  text-decoration: none;
  color: #fff;
  font-family: "Baloo Bhaina 2", cursive;
}
/*# sourceMappingURL=styles.css.map */